@media (min-width: 360px) {
    .team-container {
        width: 100%;
        height: 166px;
    }

    .team-background {
        width: 100%;
        height: 100px;
    }

    /* .team-content-box {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 5em;
        height: calc(5em + 16px);
        margin-left: 1.25em;
        top: 3.75em;
    }

     .team-icon-box {
        width: 5em;
        height: 5em;
    }

     .team-icon-box img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
    }

    .team-name {
        color: #FFFFFF;
        width: 38px;
        height: 16px;
        font-size: 1em;
        margin-top: 10px;
    }  

    .team-config {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    } */

    .team-content-box {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: calc(5em + 16px);
        top: 3.75em;
        justify-content: space-between;
        padding: 0 1.25rem;
      }
      
      .team-infos-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5em;
        height: 5em;
      }
      
      .team-infos-box img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
      }
      
      .team-name {
        color: #FFFFFF;
        width: 38px;
        height: 16px;
        font-size: 1em;
      }

      .team-config  {
        width: 1.25em;
        height: 1.25em;
        padding-top: 0.625em;
      }
}